<appSettings>
 <add key="JobInterval" value="600"/>
 <add key="LastFmApiKey" value="[redacted]"/>
 <add key="LastFmApiSecret" value="[redacted]"/>
 <add key="LogCache" value="%ProgramData%\PlaxFM\Logs\logcache.log"/>
 <add key="PlexLog" value="\AppData\local\Plex Media Server\Logs\Plex Media Server.log"/>
 <add key="WorkingCopy" value="%ProgramData%\PlaxFM\Logs\workingcopy.log"/>
 <add key="ConfigFile" value="%ProgramData%\PlaxFM\Config\CustomConfiguration.xml"/>
 <add key="SchemaFile" value="%ProgramData%\PlaxFM\Config\CustomConfiguration.xsd"/>
 <add key="PlexServer" value="http://localhost:32400"/>
 <add key="MaxTimeout" value ="10000"/>
</appSettings>
