<nlog
  autoReload="true"
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwExceptions="true">
  <targets>
    <target
      name="console"
      xsi:type="ColoredConsole"
      layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} [${threadid}] ${message} ${exception:format=message,type,stacktrace}"/>
    <target
			name="fileBuffer"
			xsi:type="AsyncWrapper"
			queueLimit="10000"
			overflowAction="Grow">
      <target
				xsi:type="File"
				name="file"
        fileName="../../../ProgramData/PlaxFM/logs/${machinename}-${processname}.log"
				layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} [${threadid}] ${message} ${exception:format=message,type,stacktrace}"
				maxArchiveFiles="2"
				archiveFileName="../../../ProgramData/PlaxFM/logs/archives/${processname}/${machinename}-${processname}-{#}.log"
				archiveNumbering="Rolling"
				archiveEvery="Day"
				concurrentWrites="false"
				keepFileOpen="false"/>
    </target>
    <target
  name="fileBuffer_debug"
  xsi:type="AsyncWrapper"
  queueLimit="10000"
  overflowAction="Grow">
      <target
				xsi:type="File"
				name="file"
				fileName="C:/PlaxFM/logs/${machinename}-${processname}.log"
				layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} [${threadid}] ${message} ${exception:format=message,type,stacktrace}"
				maxArchiveFiles="2"
				archiveFileName="C:/PlaxFM/logs/archives/${processname}/${machinename}-${processname}-{#}.log"
				archiveNumbering="Rolling"
				archiveEvery="Day"
				concurrentWrites="false"
				keepFileOpen="false"/>
    </target>
  </targets>
  <rules>
     <logger name="*" minlevel="Trace" writeTo="console" /> 
    <!--
    <logger name="*" minlevel="Trace" writeTo="fileBuffer"/>
    -->
    <logger name="*" minlevel="Trace" writeTo="fileBuffer_debug"/>
  </rules>
</nlog>